/MaterialDesign/.gradle/2.10
/MaterialDesign/.idea/gradle.xml
/MaterialDesign/.idea/misc.xml
/MaterialDesign/.idea/modules.xml
/MaterialDesign/.idea/runConfigurations.xml
/MaterialDesign/.idea/workspace.xml
/MaterialDesign/.idea/copyright
/MaterialDesign/.idea/libraries
/MaterialDesign/.idea/.name
/MaterialDesign/.idea/compiler.xml
/MaterialDesign/.idea/encodings.xml
/MaterialDesign/app/build
/MaterialDesign/.idea
